@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* other css file import  */
@import url("sections/navbar.css");
@import url("sections/sidebar.css");
@import url("sections/about.css");

:root {
  --background-dark-100: #000000;
  --background-dark-90: #222222;
  --background-dark-95: #282828;
  --background-dark-80: #333333;
  --background-dark-70: #444444;
  --background-orange: #ff714a;

  /* text Colors */
  --color-white-100: #ffffff;
  --color-white-95: #f5f5f5;
  --color-white-80: #d5d5d5;
  --color-white-60: #aaaaaa;

  /* font-size */
  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-21: 21px;
  --font-size-18: 18px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size: 11px;

  /* other */
  --transition-default: 0.25s ease;
}

/* custom scrollbar style  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark-70);
}

::-webkit-scrollbar-thumb {
  background: var(--background-orange);
}

/* Reset and default style  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--color-white-95);
}

body {
  height: 100vh;
  background: var(--background-dark-100);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-95);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-48);
  margin-bottom: 10px;
}

h2 {
  font-size: var(--font-size-21);
  margin-bottom: 30px;
  box-shadow: inset 0 -2px 0 var(--background-orange);
  width: fit-content;
}

h3 {
  font-size: var(--font-size-18);
  margin-bottom: 5px;
}

p,
blockquote {
  color: var(--color-white-80);
  font-size: var(--font-size-14);
  line-height: 1.8;
}

::selection {
  background: var(--background-orange);
  color: var(--color-white-100);
}

ion-icon {
  --ionicon-stroke-width: 20px;
}


/* main container */
.container {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

/* Responsive for 1200px */
@media screen and (max-width: 1200px) {
  /* about section */
  .clients-row {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .clients-row img {
    margin-bottom: 30px;
  }
}

/* Responsive for 1024px */
@media screen and (max-width: 1200px) {
  /* mobile navbar style  */
  .nav-mobile {
    display: flex;
  }

  /* sidebar  */
  .side-bar {
    padding: 70px 0 30px;
    width: 260px;
    box-shadow: 2px 0 10px #0002;
    opacity: 0;
    left: -300px;
    transition: all var(--transition-default);
  }

  /* active class for toggling sidebar from left  */
  .side-bar.active {
    left: 0;
    opacity: 1;
  }

  /* about  */
  .about {
    width: 100%;
  }
} 


/* Responsive for 768px */

@media screen and (max-width: 1200px) {
  /* about section hero */
  .hero {
    flex-direction: column
  }

  .hero-img-bx {
    width: 100%;
    height: 400px;
    font-size: 0;
  }

  .hero-content {
    width: 100%;
    padding: 40px;
  }

  /* about section services  */
  .about-inner {
    padding: 40px;
  }

  .grid-item {
    grid-template-columns: 1fr;
  }

  /* about section testimonials  */
  .testimonial-row {
    flex-direction: column;
  }

  .testimonial-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* responsive for 400px  */
@media screen and (max-width: 400px) {
    .hero-content .name {
      font-size: 40px;
    }

    .grid-item .item {
      flex-direction: column;
    }
}