/* about section structure style  */

.about {
    width: calc(100% - 160px);
    height: 100%;
    background: var(--background-dark-90);
    margin-left: auto;
    overflow-y: auto;
}

/* about section hero structure style  */
.hero {
    display: flex;
}

.hero-img-bx {
    width: 50%;
    max-height: 100%;
}

.hero-img-bx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0;
}

.hero-content {
    width: 50%;
    max-height: fit-content;
    background: var(--background-dark-80);
    padding: 80px;
    display: table;
}

.hero-content-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.hero-content .title {
    font-size: var(--font-size-14);
    color: var(--color-white-60);
}

.hero-content .desc {
    margin-bottom: 20px;
}

.hero-content .desc p {
    margin-bottom: 10px;
}

.hero-content .btn {
    padding: 8px 30px;
    border: 2px solid var(--background-orange);
    font-size: var(--font-size-14);
    transition: var(--transition-default);
}

.hero-content .btn:hover {
    background: var(--background-orange);
    color: var(--color-white-100);
}


/* about section service structure  */
.about-inner {
   padding: 80px;
}

.service {
    margin-bottom: 50px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.grid-item .item {
    display: flex;
}

.grid-item .item-icon {
    font-size: 40px;
    margin-right: 30px;
    color: var(--color-white-60);
}

.item-wrapper p {
    font-size: var(--font-size-12);
}

/* about section testimonials structure style  */
.testimonials {
    margin-bottom: 50px;
}

.testimonials-row {
    display: flex;
}

.testmonials-content {
    margin-right: 20px;
}

.testmonials-text {
    background: var(--background-dark-95);
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--background-dark-70);
}

.testimonials-author {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}

.author-img {
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--background-dark-70);
    margin-right: 10px;
    transform: translateY(-50%);
}

.author-info .author-title  {
    font-size: var(--font-size-11);
    color: var(--color-white-80);
}

/* about section slients structure style  */
.clients-row {
    display: flex;
    justify-content: space-between;
}

.clients-row img {
    width: 100px;
    margin: 0 20px;
    opacity: 0.5;
}