.side-bar {
    position: absolute;
    width: 160px;
    height: 100%;
    padding: 10px 0;
    text-align: center;
    background: var(--background-dark-90);
    overflow-y: auto;
    display: table;
    z-index: 50;
}

.side-bar .brand-img {
    width: 80px;
    margin-bottom: 20px;
}

.side-bar .brand-name {
    text-align: center;
    line-height: 1;
    font-size: var(--font-size-24);
    margin-bottom: 30px;
}

/* navbar style  */
.nav li a {
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid var(--background-dark-80);
    font-size: var(--font-size-14);
    transition: background var(--transition-default);
}

.nav li:last-child a {
    border-bottom: 1px solid var(--background-dark-80);
}

.nav li a:hover {
    background: var(--background-dark-80);
    box-shadow: iset -2px 0 0 var(--color-white-95);
}

.nav li a.active {
    background: var(--background-dark-80);
    box-shadow: inset -2px 0 0 var(--background-orange);
}

.scoial-btn-groups .btn  {
    padding: 4px 7px 0 7px;
    margin: 40px 2px;
    background: var(--background-dark-70);
    color: var(--color-white-60);
    transition: all var(--transition-default);
}

.scoial-btn-groups .btn:hover {
    background: var(--background-orange);
    color: var(--color-white-100);
}

/* sidebar footer style  */
.side-bar-footer {
    display: table-row;
    vertical-align: bottom;
}

.sidebar-footer .copyright {
    font-size: var(--font-size-12);
    color: var(--color-white-60);
}